# -*- mode: conf -*-

# Build outputs
debug/
release/

# Build artefacts
fit-sync-ant
fit-sync-usb
99-fit-sync.rules
fit-sync-usb.service
fit-sync-epo.service
fit-sync-ant.service
fit-sync-setup.service
mount-garmin@.service
mount-fr945.service
mount-edge540.service
mount-bolt.service
sync-fr945.service
sync-edge540.service
sync-bolt.service

*.o
*.d

# Visual Studio files
*.suo
*.ncb
*.db
*.user
*.pdb
*.idb
*.xss
*.xsc
*.xsx
ipch/
*.sdf
*.opensdf

.DS_Store
._.DS_Store

# Editor specific files
*.*~
*.~*
*.swp

# Git temporary merge files
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
